@model DatVeMayBay.Models.NganHang

@{ ViewBag.Title = "CreateNganHang";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h2>Thêm ngân hàng</h2>
@Html.AntiForgeryToken()
@if (TempData["AlertMessage"] != null)
{
<div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
    @TempData["AlertMessage"]
</div>}

<br />
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <h2 class="form-control-static">Hình thức thanh toán : Chuyển khoản ngân hàng </h2>
    </div>
    <br/>
    <div class="form-group">

        @Html.LabelFor(model => model.MaNganHang, "Mã ngân hàng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MaNganHang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaNganHang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TenNganHang, "Tên ngân hàng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenNganHang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenNganHang, "", new { @class = "text-danger" })
        </div>
    </div>


    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-outline-dark" />
        </div>
    </div>
</div>}
<br />
<div>
    @Html.ActionLink("Quay lại", "IndexNganHang")
</div>


@*tạo message box*@

<script>$(function () {
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(2000).slideUp(500);
    });</script>

