@model DatVeMayBay.Models.ChuyenBay

@{ ViewBag.Title = "CreateChuyenBay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h2>Tạo mới chuyến bay</h2>
@if (TempData["AlertMessage"] != null)
{
<div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
    @TempData["AlertMessage"]
</div>}
@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>ChuyenBay</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" class="form-control-static" value="@(ViewBag.ID_cb+1)" , name="MaChuyenBay">

    <div class="form-group">
        @Html.LabelFor(model => model.GioCatCanh, "Giờ cất cánh", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GioCatCanh, new { htmlAttributes = new { @class = "form-control", @placeholder = "HH:MM:SS" } })
            @Html.ValidationMessageFor(model => model.GioCatCanh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NgayCatCanh, "Ngày bay", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayCatCanh, new { htmlAttributes = new { @class = "form-control", @placeholder = "YYYY-MM-DD" } })
            @Html.ValidationMessageFor(model => model.NgayCatCanh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ThoiGianBay, "Thời gian bay", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ThoiGianBay, new { htmlAttributes = new { @class = "form-control", @placeholder = "HH:MM:SS" } })
            @Html.ValidationMessageFor(model => model.ThoiGianBay, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LoaiMayBay, "Loại máy bay", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("LoaiMayBay", null, htmlAttributes: new { @class = "form-control" })
            @*@Html.DropDownList(model => model.LoaiMayBay, htmlAttributes: new { @class = "form-control" })*@
            @Html.ValidationMessageFor(model => model.LoaiMayBay, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiaNguoiLon, "Giá", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaNguoiLon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GiaNguoiLon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiaTreEm, "Giá trẻ em", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaTreEm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GiaTreEm, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.ChangBay.MaChangBay, "Mã chặng bay", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaChangBay", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ChangBay.MaChangBay, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 py-4">
            <input type="submit" value="Thêm" class="btn btn-outline-info" />
        </div>
    </div>
</div>}

<div>
    <a href="~/Admin/IndexChuyenBay" class="text text-black-50 col-md-offset-2 col-md-10 py-4">Quay lại </a>
</div>


<script>$(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });</script>

