@model DatVeMayBay.Models.ChuyenBay

@{ ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<h2>Chỉnh sửa chuyến bay</h2>



@using (Html.BeginForm())
{@Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaChuyenBay)

    <div class="form-group">
        <label class="control-label col-md-2" for="TGbay">Thời gian bay</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ThoiGianBay, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ThoiGianBay, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="TGbay">Ngày bay</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NgayCatCanh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NgayCatCanh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="TGbay">Giờ bay</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.GioCatCanh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GioCatCanh, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.LoaiMayBay, "Loại máy bay", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Loaimaybay", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LoaiMayBay, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.GiaNguoiLon, "Giá", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaNguoiLon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GiaNguoiLon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiaTreEm, "Giá trẻ em", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaTreEm, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GiaTreEm, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MayBay, "Tên máy bay", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("LoaiMayBay", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MayBay, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.MaChangBay, "Mã chặng bay", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="MaChangBay" name="MaChangBay" ,value ="">
                    @foreach (var item in ViewBag.ChangBay_Edit)
                    {
                        <option value="">@item.MaChangBay</option>
                    }

                </select>
                @Html.ValidationMessageFor(model => model.MaChangBay, "", new { @class = "text-danger" })
            </div>
        </div>*@


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 py-4">
            <button class="btn btn-outline-light " onclick="Edit(@Model.MaChuyenBay)" >Sửa</button>
        </div>
    </div>
</div>}
<div></div>
<div>
    <a href="~/Admin/IndexChuyenBay" class="text text-black-50 col-md-offset-2 col-md-10 py-4">Quay lại </a>
</div>

<script type="text/javascript">

        function Edit(ID) {

            var ChuyenBays = {
                "ThoiGianBay": $("#ThoiGianBay").val(),
                "NgayCatCanh": $("#NgayCatCanh").val(),
                "GioCatCanh": $("#GioCatCanh").val(),
                "Gia": $("#Gia").val(),
                "GiaTreEm": $("#GiaTreEm").val(),
                "MaChuyenBay": $("#MaChuyenBay").val(),
                "AutoId": @Request.QueryString["id"],
            };
            $.ajax({
                type: "PUT",
                url:
                'http://localhost:44380/api/ChuyenBays/PutChuyenBay?id=@Request.QueryString["id"]',
            
                data: JSON.stringify(ChuyenBays),
            contentType: "application/json;charset=utf-8",
            success: function (data, status, xhr) {
                alert("The result is : " + status + ": " + data);
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
        };


</script>