<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Thông tin khách hàng</title>

    <style data-jss="" data-meta="MuiPaper">
        .MuiPaper-root {
            color: #212121;
            transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border-radius: 6px;
            background-color: #fff;
        }

        .MuiPaper-rounded {
            border-radius: 4px;
        }

        .MuiPaper-outlined {
            border: 1px solid #cbd3db;
        }

        .MuiPaper-elevation0 {
            box-shadow: none;
        }

        .MuiPaper-elevation1 {
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05), -2px -2px 4px rgba(0, 0, 0, 0.05);
        }

        .MuiPaper-elevation2 {
            box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.05), -3px -3px 6px rgba(0, 0, 0, 0.05);
        }

        .MuiPaper-elevation3 {
            box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.05), -5px -5px 9px rgba(0, 0, 0, 0.05);
        }

        .MuiPaper-elevation4 {
            box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.05), -5px -5px 16px rgba(0, 0, 0, 0.05);
        }

        .MuiPaper-elevation5 {
            box-shadow: 5px 5px 24px rgba(0, 0, 0, 0.05), -5px -5px 24px rgba(0, 0, 0, 0.05);
        }

        .MuiPaper-elevation6 {
            box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation7 {
            box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation8 {
            box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation9 {
            box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2), 0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation10 {
            box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation11 {
            box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2), 0px 11px 15px 1px rgba(0, 0, 0, 0.14), 0px 4px 20px 3px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation12 {
            box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation13 {
            box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2), 0px 13px 19px 2px rgba(0, 0, 0, 0.14), 0px 5px 24px 4px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation14 {
            box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2), 0px 14px 21px 2px rgba(0, 0, 0, 0.14), 0px 5px 26px 4px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation15 {
            box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14), 0px 6px 28px 5px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation16 {
            box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation17 {
            box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2), 0px 17px 26px 2px rgba(0, 0, 0, 0.14), 0px 6px 32px 5px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation18 {
            box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2), 0px 18px 28px 2px rgba(0, 0, 0, 0.14), 0px 7px 34px 6px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation19 {
            box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2), 0px 19px 29px 2px rgba(0, 0, 0, 0.14), 0px 7px 36px 6px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation20 {
            box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 20px 31px 3px rgba(0, 0, 0, 0.14), 0px 8px 38px 7px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation21 {
            box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2), 0px 21px 33px 3px rgba(0, 0, 0, 0.14), 0px 8px 40px 7px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation22 {
            box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2), 0px 22px 35px 3px rgba(0, 0, 0, 0.14), 0px 8px 42px 7px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation23 {
            box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2), 0px 23px 36px 3px rgba(0, 0, 0, 0.14), 0px 9px 44px 8px rgba(0, 0, 0, 0.12);
        }

        .MuiPaper-elevation24 {
            box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
        }
    </style>
    <style data-jss="" data-meta="MuiContainer">
        .MuiContainer-root {
            width: 100%;
            display: block;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            padding-left: 16px;
            padding-right: 16px;
        }
    </style>
    <style data-jss="" data-meta="MuiInputAdornment">
        .MuiInputAdornment-root {
            height: 0.01em;
            display: flex;
            max-height: 2em;
            align-items: center;
            white-space: nowrap;
        }

        .MuiInputAdornment-filled.MuiInputAdornment-positionStart:not(.MuiInputAdornment-hiddenLabel) {
            margin-top: 16px;
        }

        .MuiInputAdornment-positionStart {
            margin-right: 8px;
        }

        .MuiInputAdornment-positionEnd {
            margin-left: 8px;
        }

        .MuiInputAdornment-disablePointerEvents {
            pointer-events: none;
        }
    </style>
    <style data-jss="" data-meta="MuiInputBase">

        .MuiInputBase-root {
            color: #212121;
            cursor: text;
            display: inline-flex;
            position: relative;
            font-size: 16px;
            box-sizing: border-box;
            align-items: center;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: normal;
            line-height: 1.1876em;
            letter-spacing: 0.00938em;
        }

            .MuiInputBase-root.Mui-disabled {
                color: rgba(0, 0, 0, 0.38);
                cursor: default;
            }

        .MuiInputBase-multiline {
            padding: 6px 0 7px;
        }

            .MuiInputBase-multiline.MuiInputBase-marginDense {
                padding-top: 3px;
            }

        .MuiInputBase-fullWidth {
            width: 100%;
        }

        .MuiInputBase-input {
            font: inherit;
            color: currentColor;
            width: 100%;
            border: 0;
            height: 1.1876em;
            margin: 0;
            display: block;
            padding: 6px 0 7px;
            min-width: 0;
            background: none;
            box-sizing: content-box;
            animation-name: mui-auto-fill-cancel;
            letter-spacing: inherit;
            -webkit-tap-highlight-color: transparent;
        }

            .MuiInputBase-input::-webkit-input-placeholder {
                color: currentColor;
                opacity: 0.42;
                transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            }

            .MuiInputBase-input::-moz-placeholder {
                color: currentColor;
                opacity: 0.42;
                transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            }

            .MuiInputBase-input:-ms-input-placeholder {
                color: currentColor;
                opacity: 0.42;
                transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            }

            .MuiInputBase-input::-ms-input-placeholder {
                color: currentColor;
                opacity: 0.42;
                transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            }

            .MuiInputBase-input:focus {
                outline: 0;
            }

            .MuiInputBase-input:invalid {
                box-shadow: none;
            }

            .MuiInputBase-input::-webkit-search-decoration {
                -webkit-appearance: none;
            }

            .MuiInputBase-input.Mui-disabled {
                opacity: 1;
            }

            .MuiInputBase-input:-webkit-autofill {
                animation-name: mui-auto-fill;
                animation-duration: 5000s;
            }

        label[data-shrink="false"] + .MuiInputBase-formControl
        .MuiInputBase-input::-webkit-input-placeholder {
            opacity: 0 !important;
        }

        label[data-shrink="false"] + .MuiInputBase-formControl
        .MuiInputBase-input::-moz-placeholder {
            opacity: 0 !important;
        }

        label[data-shrink="false"] + .MuiInputBase-formControl
        .MuiInputBase-input:-ms-input-placeholder {
            opacity: 0 !important;
        }

        label[data-shrink="false"] + .MuiInputBase-formControl
        .MuiInputBase-input::-ms-input-placeholder {
            opacity: 0 !important;
        }

        label[data-shrink="false"] + .MuiInputBase-formControl
        .MuiInputBase-input:focus::-webkit-input-placeholder {
            opacity: 0.42;
        }

        label[data-shrink="false"] + .MuiInputBase-formControl
        .MuiInputBase-input:focus::-moz-placeholder {
            opacity: 0.42;
        }

        label[data-shrink="false"] + .MuiInputBase-formControl
        .MuiInputBase-input:focus:-ms-input-placeholder {
            opacity: 0.42;
        }

        label[data-shrink="false"] + .MuiInputBase-formControl
        .MuiInputBase-input:focus::-ms-input-placeholder {
            opacity: 0.42;
        }

        .MuiInputBase-inputMarginDense {
            padding-top: 3px;
        }

        .MuiInputBase-inputMultiline {
            height: auto;
            resize: none;
            padding: 0;
        }

        .MuiInputBase-inputTypeSearch {
            -moz-appearance: textfield;
            -webkit-appearance: textfield;
        }
    </style>

    <style data-jss="" data-meta="makeStyles">
        .jss1047 {
            border: 1px solid #ced4da;
            padding: 0;
            overflow: hidden;
            position: relative;
            min-height: 40px;
            transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border-radius: 4px;
            background-color: #fff;
        }

        .jss1048 {
            padding: 8px;
            position: relative;
            font-size: 14px;
            border-radius: 4px;
        }

        .jss667 {
            border-color: #00adef;
        }

        .jss668 {
            border-color: #f44336;
        }

        .jss669 {
            color: black;
            background-color: #f5f5f5;
        }
    </style>
    <style data-jss data-meta="MuiFormLabel">
        .MuiFormLabel-root {
            color: rgba(33, 33, 33, 0.6);
            padding: 0;
            font-size: 16px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: normal;
            line-height: 1;
            letter-spacing: 0.00938em;
        }

            .MuiFormLabel-root.Mui-focused {
                color: #00adef;
            }

            .MuiFormLabel-root.Mui-disabled {
                color: rgba(0, 0, 0, 0.38);
            }

            .MuiFormLabel-root.Mui-error {
                color: #f44336;
            }

        .MuiFormLabel-colorSecondary.Mui-focused {
            color: #de0262;
        }

        .MuiFormLabel-asterisk.Mui-error {
            color: #f44336;
        }
    </style>
    <style data-jss="" data-meta="MuiFormHelperText">
        .MuiFormHelperText-root {
            color: rgba(33, 33, 33, 0.6);
            margin: 0;
            font-size: 14px;
            margin-top: 0;
            text-align: left;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: normal;
            line-height: 20px;
            letter-spacing: 0.03333em;
        }

            .MuiFormHelperText-root.Mui-disabled {
                color: rgba(0, 0, 0, 0.38);
            }

            .MuiFormHelperText-root.Mui-error {
                color: #f44336;
            }

        .MuiFormHelperText-marginDense {
            margin-top: 4px;
        }

        .MuiFormHelperText-contained {
            margin-left: 14px;
            margin-right: 14px;
        }
    </style>
    <style data-jss="" data-meta="MuiRadio">
        .MuiRadio-root {
            color: rgba(33, 33, 33, 0.6);
        }

        .MuiRadio-colorPrimary.Mui-checked {
            color: #0066da;
        }

        .MuiRadio-colorPrimary.Mui-disabled {
            color: rgba(0, 0, 0, 0.26);
        }

        .MuiRadio-colorPrimary.Mui-checked:hover {
            background-color: rgba(0, 173, 239, 0.04);
        }

        .MuiRadio-colorSecondary.Mui-checked {
            color: #0066da;
        }

        .MuiRadio-colorSecondary.Mui-disabled {
            color: rgba(0, 0, 0, 0.26);
        }

        .MuiRadio-colorSecondary.Mui-checked:hover {
            background-color: rgba(222, 2, 98, 0.04);
        }
    </style>
    <style data-jss="" data-meta="MuiInputLabel">
        .MuiInputLabel-root {
            color: #000;
            display: block;
            position: relative;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            margin-left: 12px;
            margin-bottom: 4px;
            transform-origin: top left;
        }

        .MuiInputLabel-formControl {
            top: 0;
            left: 0;
            position: relative;
            font-size: 14px;
            transform: unset;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 4px;
        }

        .MuiInputLabel-marginDense {
            transform: translate(0, 21px) scale(1);
        }

        .MuiInputLabel-shrink {
            transform: unset;
            transform-origin: top left;
        }

        .MuiInputLabel-animated {
            transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        }

        .MuiInputLabel-filled {
            z-index: 1;
            transform: translate(12px, 20px) scale(1);
            pointer-events: none;
        }

            .MuiInputLabel-filled.MuiInputLabel-marginDense {
                transform: translate(12px, 17px) scale(1);
            }

            .MuiInputLabel-filled.MuiInputLabel-shrink {
                transform: translate(12px, 10px) scale(0.75);
            }

                .MuiInputLabel-filled.MuiInputLabel-shrink.MuiInputLabel-marginDense {
                    transform: translate(12px, 7px) scale(0.75);
                }

        .MuiInputLabel-outlined {
            z-index: 1;
            transform: translate(14px, 20px) scale(1);
            pointer-events: none;
        }

            .MuiInputLabel-outlined.MuiInputLabel-marginDense {
                transform: translate(14px, 12px) scale(1);
            }

            .MuiInputLabel-outlined.MuiInputLabel-shrink {
                transform: translate(14px, -6px) scale(0.75);
            }
    </style>
    <style data-jss="" data-meta="MuiCollapse">
        .MuiCollapse-container {
            height: 0;
            overflow: hidden;
            transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        }

        .MuiCollapse-entered {
            height: auto;
            overflow: visible;
        }

        .MuiCollapse-hidden {
            visibility: hidden;
        }

        .MuiCollapse-wrapper {
            display: flex;
        }

        .MuiCollapse-wrapperInner {
            width: 100%;
        }
    </style>
    <style data-jss="" data-meta="MuiSvgIcon">
        .MuiSvgIcon-root {
            fill: currentColor;
            width: 1em;
            height: 1em;
            display: inline-block;
            font-size: 1.7142857142857142rem;
            transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            flex-shrink: 0;
            user-select: none;
        }

        .MuiSvgIcon-colorPrimary {
            color: #00adef;
        }

        .MuiSvgIcon-colorSecondary {
            color: #de0262;
        }

        .MuiSvgIcon-colorAction {
            color: rgba(0, 0, 0, 0.54);
        }

        .MuiSvgIcon-colorError {
            color: #f44336;
        }

        .MuiSvgIcon-colorDisabled {
            color: rgba(0, 0, 0, 0.26);
        }

        .MuiSvgIcon-fontSizeInherit {
            font-size: inherit;
        }

        .MuiSvgIcon-fontSizeSmall {
            font-size: 1.4285714285714286rem;
        }

        .MuiSvgIcon-fontSizeLarge {
            font-size: 2.5rem;
        }
    </style>
    <style data-jss="" data-meta="MuiTypography">
        .MuiTypography-root {
            margin: 0;
        }

        .MuiTypography-body2 {
            font-size: 14px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: normal;
            line-height: 20px;
            letter-spacing: 0.01071em;
        }

        .MuiTypography-body1 {
            font-size: 16px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: normal;
            line-height: 24px;
            letter-spacing: 0.00938em;
        }

        .MuiTypography-caption {
            font-size: 12px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0.03333em;
            color: #0066da;
        }

        .MuiTypography-button {
            font-size: 16px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: normal;
            line-height: auto;
            letter-spacing: 0.02857em;
            text-transform: none;
        }

        .MuiTypography-h1 {
            font-size: 96px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: lighter;
            line-height: 128px;
            letter-spacing: -0.01562em;
        }

        .MuiTypography-h2 {
            font-size: 60px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: lighter;
            line-height: 80px;
            letter-spacing: -0.00833em;
        }

        .MuiTypography-h3 {
            font-size: 48px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: lighter;
            line-height: 68px;
            letter-spacing: 0em;
        }

        .MuiTypography-h4 {
            font-size: 34px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            line-height: 48px;
            letter-spacing: 0.00735em;
        }

        .MuiTypography-h5 {
            font-size: 24px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            line-height: 34px;
            letter-spacing: 0em;
        }

        .MuiTypography-h6 {
            font-size: 20px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0.0075em;
        }

        .MuiTypography-subtitle1 {
            font-size: 16px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.00938em;
        }

        .MuiTypography-subtitle2 {
            font-size: 14px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.00714em;
        }

        .MuiTypography-overline {
            font-size: 0.8571428571428571rem;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 400;
            line-height: 2.66;
            letter-spacing: 0.08333em;
            text-transform: uppercase;
        }

        .MuiTypography-srOnly {
            width: 1px;
            height: 1px;
            overflow: hidden;
            position: absolute;
        }

        .MuiTypography-alignLeft {
            text-align: left;
        }

        .MuiTypography-alignCenter {
            text-align: center;
        }

        .MuiTypography-alignRight {
            text-align: right;
        }

        .MuiTypography-alignJustify {
            text-align: justify;
        }

        .MuiTypography-noWrap {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .MuiTypography-gutterBottom {
            margin-bottom: 0.35em;
        }

        .MuiTypography-paragraph {
            margin-bottom: 16px;
        }

        .MuiTypography-colorInherit {
            color: inherit;
        }

        .MuiTypography-colorPrimary {
            color: #00adef;
        }

        .MuiTypography-colorSecondary {
            color: #de0262;
        }

        .MuiTypography-colorTextPrimary {
            color: #212121;
        }

        .MuiTypography-colorTextSecondary {
            color: rgba(33, 33, 33, 0.6);
        }

        .MuiTypography-colorError {
            color: #f44336;
        }

        .MuiTypography-displayInline {
            display: inline;
        }

        .MuiTypography-displayBlock {
            display: block;
        }
    </style>
    <style data-jss="" data-meta="MuiTouchRipple">
        .MuiTouchRipple-root {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            overflow: hidden;
            position: absolute;
            border-radius: inherit;
            pointer-events: none;
        }

        .MuiTouchRipple-ripple {
            opacity: 0;
            position: absolute;
        }

        .MuiTouchRipple-rippleVisible {
            opacity: 0.3;
            animation: MuiTouchRipple-keyframes-enter 550ms cubic-bezier(0.4, 0, 0.2, 1);
            transform: scale(1);
        }

        .MuiTouchRipple-ripplePulsate {
            animation-duration: 200ms;
        }

        .MuiTouchRipple-child {
            width: 100%;
            height: 100%;
            display: block;
            opacity: 1;
            border-radius: 50%;
            background-color: currentColor;
        }

        .MuiTouchRipple-childLeaving {
            opacity: 0;
            animation: MuiTouchRipple-keyframes-exit 550ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .MuiTouchRipple-childPulsate {
            top: 0;
            left: 0;
            position: absolute;
            animation: MuiTouchRipple-keyframes-pulsate 2500ms cubic-bezier(0.4, 0, 0.2, 1) 200ms infinite;
        }
    </style>
    <style data-jss="" data-meta="MuiButtonBase">
        .MuiButtonBase-root {
            color: inherit;
            border: 0;
            cursor: pointer;
            margin: 0;
            display: inline-flex;
            outline: 0;
            padding: 0;
            position: relative;
            align-items: center;
            user-select: none;
            border-radius: 0;
            vertical-align: middle;
            -moz-appearance: none;
            justify-content: center;
            text-decoration: none;
            background-color: transparent;
            -webkit-appearance: none;
            -webkit-tap-highlight-color: transparent;
        }

            .MuiButtonBase-root::-moz-focus-inner {
                border-style: none;
            }

            .MuiButtonBase-root.Mui-disabled {
                cursor: default;
                pointer-events: none;
            }
    </style>
    <style data-jss="" data-meta="MuiIconButton">
        .MuiIconButton-root {
            flex: 0 0 auto;
            color: rgba(0, 0, 0, 0.54);
            padding: 12px;
            overflow: visible;
            font-size: 1.7142857142857142rem;
            text-align: center;
            transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            border-radius: 50%;
        }

            .MuiIconButton-root:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }

            .MuiIconButton-root.Mui-disabled {
                color: rgba(0, 0, 0, 0.26);
                background-color: transparent;
            }

        .MuiIconButton-edgeStart {
            margin-left: -12px;
        }

        .MuiIconButton-sizeSmall.MuiIconButton-edgeStart {
            margin-left: -3px;
        }

        .MuiIconButton-edgeEnd {
            margin-right: -12px;
        }

        .MuiIconButton-sizeSmall.MuiIconButton-edgeEnd {
            margin-right: -3px;
        }

        .MuiIconButton-colorInherit {
            color: inherit;
        }

        .MuiIconButton-colorPrimary {
            color: #00adef;
        }

            .MuiIconButton-colorPrimary:hover {
                background-color: rgba(0, 173, 239, 0.04);
            }

        .MuiIconButton-colorSecondary {
            color: #de0262;
        }

            .MuiIconButton-colorSecondary:hover {
                background-color: rgba(222, 2, 98, 0.04);
            }

        .MuiIconButton-sizeSmall {
            padding: 3px;
            font-size: 1.2857142857142858rem;
        }

        .MuiIconButton-label {
            width: 100%;
            display: flex;
            align-items: inherit;
            justify-content: inherit;
        }
    </style>
    <style data-jss="" data-meta="MuiButton">
        .MuiButton-root {
            color: #212121;
            padding: 0 8px;
            font-size: 16px;
            min-width: unset;
            box-sizing: border-box;
            min-height: 40px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: normal;
            line-height: auto;
            border-radius: 4px;
            letter-spacing: 0.02857em;
            text-transform: none;
        }

            .MuiButton-root:hover {
                text-decoration: none;
                background-color: rgba(33, 33, 33, 0.04);
            }

            .MuiButton-root.Mui-disabled {
                color: rgba(0, 0, 0, 0.26);
            }

            .MuiButton-root:hover.Mui-disabled {
                background-color: transparent;
            }

        .MuiButton-label {
            width: 100%;
            display: inherit;
            align-items: inherit;
            justify-content: inherit;
        }

        .MuiButton-text {
            padding: 6px 8px;
        }

        .MuiButton-textPrimary {
            color: #00adef;
        }

            .MuiButton-textPrimary:hover {
                background-color: rgba(0, 173, 239, 0.04);
            }

        .MuiButton-textSecondary {
            color: #de0262;
        }

            .MuiButton-textSecondary:hover {
                background-color: rgba(222, 2, 98, 0.04);
            }

        .MuiButton-outlined {
            color: #212121;
            border: 1px solid rgba(0, 0, 0, 0.23);
            padding: 5px 15px;
            font-size: 16px;
            background: #fff;
            font-weight: normal;
            line-height: auto;
            text-transform: none;
        }

            .MuiButton-outlined.Mui-disabled {
                border: 1px solid rgba(0, 0, 0, 0.12);
            }

        .MuiButton-outlinedPrimary {
            color: #00adef;
            border: 1px solid rgba(0, 173, 239, 0.5);
        }

            .MuiButton-outlinedPrimary:hover {
                border: 1px solid #00adef;
                background-color: rgba(0, 173, 239, 0.04);
            }


        .MuiButton-outlinedSecondary {
            color: #de0262;
            border: 1px solid rgba(222, 2, 98, 0.5);
        }

            .MuiButton-outlinedSecondary:hover {
                border: 1px solid #de0262;
                background-color: rgba(222, 2, 98, 0.04);
            }

            .MuiButton-outlinedSecondary.Mui-disabled {
                border: 1px solid rgba(0, 0, 0, 0.26);
            }

        .MuiButton-contained {
            color: rgba(0, 0, 0, 0.87);
            box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            background-color: #e0e0e0;
        }

            .MuiButton-contained:hover {
                box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
                background-color: #d5d5d5;
            }

            .MuiButton-contained.Mui-focusVisible {
                box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
            }

            .MuiButton-contained:active {
                box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
            }

            .MuiButton-contained.Mui-disabled {
                color: rgba(0, 0, 0, 0.26);
                box-shadow: none;
                background-color: rgba(0, 0, 0, 0.12);
            }

            .MuiButton-contained:hover.Mui-disabled {
                background-color: rgba(0, 0, 0, 0.12);
            }

        .MuiButton-containedPrimary {
            color: #ffffff;
            background-color: #00adef;
        }

            .MuiButton-containedPrimary:hover {
                background-color: rgb(0, 155, 215);
            }

        .MuiButton-containedSecondary {
            color: #ffffff;
            background-color: #de0262;
        }

            .MuiButton-containedSecondary:hover {
                background-color: rgb(199, 1, 88);
            }

        .MuiButton-disableElevation {
            box-shadow: none;
        }

            .MuiButton-disableElevation:hover {
                box-shadow: none;
            }

            .MuiButton-disableElevation.Mui-focusVisible {
                box-shadow: none;
            }

            .MuiButton-disableElevation:active {
                box-shadow: none;
            }

            .MuiButton-disableElevation.Mui-disabled {
                box-shadow: none;
            }

        .MuiButton-colorInherit {
            color: inherit;
            border-color: currentColor;
        }

        .MuiButton-textSizeSmall {
            padding: 4px 5px;
            font-size: 0.9285714285714286rem;
        }

        .MuiButton-textSizeLarge {
            padding: 8px 11px;
            font-size: 1.0714285714285714rem;
        }

        .MuiButton-outlinedSizeSmall {
            padding: 3px 9px;
            font-size: 0.9285714285714286rem;
        }

        .MuiButton-outlinedSizeLarge {
            padding: 7px 21px;
            font-size: 1.0714285714285714rem;
        }

        .MuiButton-containedSizeSmall {
            padding: 4px 10px;
            font-size: 0.9285714285714286rem;
        }

        .MuiButton-containedSizeLarge {
            padding: 8px 22px;
            font-size: 1.0714285714285714rem;
        }

        .MuiButton-sizeSmall {
            padding: 0 8px;
            font-size: 16px;
            min-height: 32px;
            font-weight: normal;
            line-height: auto;
            text-transform: none;
        }

        .MuiButton-sizeLarge {
            padding: 0 8px;
            font-size: 16px;
            min-height: 48px;
            font-weight: 500;
            line-height: 24px;
        }

        .MuiButton-fullWidth {
            width: 100%;
        }

        .MuiButton-startIcon {
            display: inherit;
            margin-left: -4px;
            margin-right: 8px;
        }

            .MuiButton-startIcon.MuiButton-iconSizeSmall {
                margin-left: -2px;
            }

        .MuiButton-endIcon {
            display: inherit;
            margin-left: 8px;
            margin-right: -4px;
        }

            .MuiButton-endIcon.MuiButton-iconSizeSmall {
                margin-right: -2px;
            }

        .MuiButton-iconSizeSmall > *:first-child {
            font-size: 18px;
        }

        .MuiButton-iconSizeMedium > *:first-child {
            font-size: 20px;
        }

        .MuiButton-iconSizeLarge > *:first-child {
            font-size: 22px;
        }
    </style>
    <style data-jss="" data-meta="MuiFormControl">
        .MuiFormControl-root {
            border: 0;
            margin: 0;
            display: inline-flex;
            padding: 0;
            position: relative;
            min-width: 0;
            margin-right: 16px;
            flex-direction: column;
            vertical-align: top;
        }

        .MuiFormControl-marginNormal {
            margin-top: 16px;
            margin-bottom: 8px;
        }

        .MuiFormControl-marginDense {
            margin-top: 8px;
            margin-bottom: 4px;
        }

        .MuiFormControl-fullWidth {
            width: 100%;
        }
    </style>
    <style data-jss="" data-meta="MuiDivider">
        .MuiDivider-root {
            border: none;
            height: 1px;
            margin: 0;
            flex-shrink: 0;
            background-color: rgba(0, 0, 0, 0.12);
        }

        .MuiDivider-absolute {
            left: 0;
            width: 100%;
            bottom: 0;
            position: absolute;
        }

        .MuiDivider-inset {
            margin-left: 72px;
        }

        .MuiDivider-light {
            background-color: rgba(0, 0, 0, 0.08);
        }

        .MuiDivider-middle {
            margin-left: 16px;
            margin-right: 16px;
        }

        .MuiDivider-vertical {
            width: 1px;
            height: 100%;
        }

        .MuiDivider-flexItem {
            height: auto;
            align-self: stretch;
        }
    </style>
    <style data-jss="" data-meta="MuiFormControlLabel">
        .MuiFormControlLabel-root {
            cursor: pointer;
            display: inline-flex;
            align-items: center;
            margin-left: -11px;
            margin-right: 16px;
            vertical-align: middle;
            -webkit-tap-highlight-color: transparent;
        }

            .MuiFormControlLabel-root.Mui-disabled {
                cursor: default;
            }

        .MuiFormControlLabel-labelPlacementStart {
            margin-left: 16px;
            margin-right: -11px;
            flex-direction: row-reverse;
        }

        .MuiFormControlLabel-labelPlacementTop {
            margin-left: 16px;
            flex-direction: column-reverse;
        }

        .MuiFormControlLabel-labelPlacementBottom {
            margin-left: 16px;
            flex-direction: column;
        }

        .MuiFormControlLabel-label.Mui-disabled {
            color: rgba(0, 0, 0, 0.38);
        }
    </style>
    <style data-jss="" data-meta="MuiCheckbox">
        .MuiCheckbox-root {
            color: rgba(33, 33, 33, 0.6);
        }

        .MuiCheckbox-colorPrimary.Mui-checked {
            color: #0066da;
        }

        .MuiCheckbox-colorPrimary.Mui-disabled {
            color: rgba(0, 0, 0, 0.26);
        }

        .MuiCheckbox-colorPrimary.Mui-checked:hover {
            background-color: rgba(0, 173, 239, 0.04);
        }

        .MuiCheckbox-colorSecondary.Mui-checked {
            color: #0066da;
        }

        .MuiCheckbox-colorSecondary.Mui-disabled {
            color: rgba(0, 0, 0, 0.26);
        }

        .MuiCheckbox-colorSecondary.Mui-checked:hover {
            background-color: rgba(222, 2, 98, 0.04);
        }
    </style>
    <style data-jss="" data-meta="MuiSlider">
        .MuiSlider-root {
            color: #00adef;
            width: 100%;
            cursor: pointer;
            height: 2px;
            display: inline-block;
            padding: 13px 0;
            position: relative;
            box-sizing: content-box;
            touch-action: none;
            -webkit-tap-highlight-color: transparent;
        }

            .MuiSlider-root.Mui-disabled {
                color: #bdbdbd;
                cursor: default;
                pointer-events: none;
            }

            .MuiSlider-root.MuiSlider-vertical {
                width: 2px;
                height: 100%;
                padding: 0 13px;
            }

        .MuiSlider-colorSecondary {
            color: #de0262;
        }

        .MuiSlider-marked {
            margin-bottom: 20px;
        }

            .MuiSlider-marked.MuiSlider-vertical {
                margin-right: 20px;
                margin-bottom: auto;
            }

        .MuiSlider-rail {
            width: 100%;
            height: 4px;
            display: block;
            opacity: 0.38;
            position: absolute;
            border-radius: 1px;
            background-color: currentColor;
        }

        .MuiSlider-vertical .MuiSlider-rail {
            width: 2px;
            height: 100%;
        }

        .MuiSlider-track {
            height: 4px;
            display: block;
            position: absolute;
            border-radius: 1px;
            background-color: currentColor;
        }

        .MuiSlider-vertical .MuiSlider-track {
            width: 2px;
        }

        .MuiSlider-trackFalse .MuiSlider-track {
            display: none;
        }

        .MuiSlider-trackInverted .MuiSlider-track {
            background-color: rgb(158, 223, 248);
        }

        .MuiSlider-trackInverted .MuiSlider-rail {
            opacity: 1;
        }

        .MuiSlider-thumb {
            width: 12px;
            height: 12px;
            display: flex;
            outline: 0;
            position: absolute;
            box-sizing: border-box;
            margin-top: -5px;
            transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            align-items: center;
            margin-left: -6px;
            border-radius: 50%;
            justify-content: center;
            background-color: currentColor;
        }

            .MuiSlider-thumb::after {
                top: -15px;
                left: -15px;
                right: -15px;
                bottom: -15px;
                content: "";
                position: absolute;
                border-radius: 50%;
            }

            .MuiSlider-thumb.Mui-focusVisible,
            .MuiSlider-thumb:hover {
                box-shadow: 0px 0px 0px 8px rgba(0, 173, 239, 0.16);
            }

            .MuiSlider-thumb.MuiSlider-active {
                box-shadow: 0px 0px 0px 14px rgba(0, 173, 239, 0.16);
            }

            .MuiSlider-thumb.Mui-disabled {
                width: 8px;
                height: 8px;
                margin-top: -3px;
                margin-left: -4px;
            }

        .MuiSlider-vertical .MuiSlider-thumb {
            margin-left: -5px;
            margin-bottom: -6px;
        }

            .MuiSlider-vertical .MuiSlider-thumb.Mui-disabled {
                margin-left: -3px;
                margin-bottom: -4px;
            }

        .MuiSlider-thumb.Mui-disabled:hover {
            box-shadow: none;
        }

        .MuiSlider-thumbColorPrimary {
            border: 1px solid #00adef;
            background: white;
            margin-top: -4px;
        }

        .MuiSlider-thumbColorSecondary.Mui-focusVisible,
        .MuiSlider-thumbColorSecondary:hover {
            box-shadow: 0px 0px 0px 8px rgba(222, 2, 98, 0.16);
        }

        .MuiSlider-thumbColorSecondary.MuiSlider-active {
            box-shadow: 0px 0px 0px 14px rgba(222, 2, 98, 0.16);
        }

        .MuiSlider-valueLabel {
            left: calc(-50% - 4px);
        }

        .MuiSlider-mark {
            width: 2px;
            height: 2px;
            position: absolute;
            border-radius: 1px;
            background-color: currentColor;
        }

        .MuiSlider-markActive {
            opacity: 0.8;
            background-color: #fff;
        }

        .MuiSlider-markLabel {
            top: 26px;
            color: rgba(33, 33, 33, 0.6);
            position: absolute;
            font-size: 14px;
            transform: translateX(-50%);
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: normal;
            line-height: 20px;
            white-space: nowrap;
            letter-spacing: 0.01071em;
        }

        .MuiSlider-vertical .MuiSlider-markLabel {
            top: auto;
            left: 26px;
            transform: translateY(50%);
        }

        .MuiSlider-markLabelActive {
            color: #212121;
        }
    </style>
    <style data-jss="" data-meta="PrivateSwitchBase">
        .jss510 {
            padding: 9px;
        }

        .jss513 {
            top: 0;
            left: 0;
            width: 100%;
            cursor: inherit;
            height: 100%;
            margin: 0;
            opacity: 0;
            padding: 0;
            z-index: 1;
            position: absolute;
        }
    </style>
    <style type="text/css">
        iframe#_hjRemoteVarsFrame {
            display: none !important;
            width: 1px !important;
            height: 1px !important;
            opacity: 0 !important;
            pointer-events: none !important;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 14px;
            line-height: 20px;
            font-weight: normal;
            box-sizing: border-box !important;
        }

        html {
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        code {
            font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        }
    </style>

    <link rel='stylesheet' type='text/css' href='../Asset/css/9.7c90ce11.chunk.css'>
    <link rel='stylesheet' type='text/css' href='../Asset/css/css.css'>
    <link rel='stylesheet' type='text/css' href='../Asset/css/main.f51c2e01.chunk.css'>
    <link rel='stylesheet' type='text/css' href='../Asset/css/payment.css'>
    <link rel='stylesheet' type='text/css' href='../Asset/css/style.css'>
    <link rel='stylesheet' type='text/css' href='../Asset/css/global.css'>
    <link rel='stylesheet' type='text/css' href='../Asset/css/reset.css'>

    <!-- <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/ bootstrap-datetimepicker.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script> -->

    <script type="text/javascript" async src="../Asset/js/1830856737154545.js"></script>
    <script type="text/javascript" async src="../Asset/js/analytics.js"></script>
    <script type="text/javascript" async src="../Asset/js/conversion_async.js"></script>
    <script type="text/javascript" async src="../Asset/js/fbevents.js"></script>
    <script type="text/javascript" async src="../Asset/js/gtm.js"></script>
    <script type="text/javascript" async src="../Asset/js/js.js"></script>
    <script type="text/javascript" async src="../Asset/js/tracking.js"></script>
    <script charset="utf-8" src="../Asset/js/0.3c20835a.chunk.js"></script>
    <script charset="utf-8" src="../Asset/js/1.9375243a.chunk.js"></script>
    <script charset="utf-8" src="../Asset/js/2.12470d64.chunk.js"></script>
    <script charset="utf-8" src="../Asset/js/3.e962e2b4.chunk.js"></script>
    <script charset="utf-8" src="../Asset/js/14.6ea47f88.chunk.js"></script>
    <script async="true" src="JS/ins.js"></script>
    <script async src="../Asset/js/analytics.js"></script>
    <script async src="../Asset/js/fbevents.js"></script>
    <script async src="../Asset/js/hotjar-228912.js"></script>
    <script async src="../Asset/js/style.js"></script>
    <script async src="../Asset/js/payment.js"></script>



    <script async src="../Asset/js/modules.e6d659b18986716fc817.js' charset="utf-8"></script>

    <script>
        !function (e, t, a, n, g) {
            e[n] = e[n] || [], e[n].push({ "gtm.start": (new Date).getTime(), event: "gtm.js" });
            var m = t.getElementsByTagName(a)[0], r = t.createElement(a);
            r.async = !0, r.src = "https://www.googletagmanager.com/gtm.js?id=GTM-N2GBP9W", m.parentNode.insertBefore(r, m)
        }(window, document, "script", "dataLayer")
    </script>
    <script>
        $('#dialog1').modal('show')
    </script>

    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />

    <!-- CSS lib -->
    <link rel="stylesheet" href="../Asset/css/reset.css">
    <link rel="stylesheet" href="../Asset/css/global.css">
    <link rel="stylesheet" href="../Asset/css/style.css">
    <link rel="stylesheet" href="../Asset/css/payment.css">
    <!-- Font-Awesome lib -->
    <link rel="stylesheet" href="../lib/Fontawesome/css/all.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../lib/owlcarousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="../lib/owlcarousel/assets/owl.theme.default.css">
    <!-- <link rel="stylesheet" href="lib/jQuery/jquery 3.5.0.js"> -->
    <link rel="stylesheet" href="../lib/owlcarousel/owl.carousel.js">
    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS + JS-->
    <link rel="stylesheet" href="../lib/bootstrap-4.5.0-dist/css/bootstrap.css">
    <script src="../lib/bootstrap-4.5.0-dist/js/jquery 3.5.0.js"></script>
    <script src="../lib/bootstrap-4.5.0-dist/js/popper.min.js"></script>
    <script src="../lib/bootstrap-4.5.0-dist/js/bootstrap.js"></script>
    <!-- jQuery -->
    <script src="../Asset/js/style.js"></script>
    <script src="../Asset/js/payment.js"></script>

</head>

<body>


    <div id="loader" class="center"></div>
    <div id="wrapper">
        <!-- HEADER -->
        <!-- Topbar Start KHANG HUYNH-->
        <div class="container-fluid bg-dark pt-3 d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 text-center text-white text-lg-left mb-2 mb-lg-0">
                        <div class="d-inline-flex align-items-center">
                            <p style="color: #D9a404"><i class="fa fa-envelope mr-2" style="color:#D9a404"></i>Banana@airline.com</p>
                            <p class="text-body px-3">|</p>
                            <p style="color: #D9a404"><i class="fa fa-phone-alt mr-2" style="color: #D9a404"></i>+012 345 6789</p>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center text-lg-right">

                        @if (TempData["User"] != null)
                        {
                            <h5 class="card-title text-primary">Xin chào , @TempData["User"].ToString() </h5>

                            <a href="~/Login/Login" class="btn btn-primary mt-2 ">
                                Đăng xuất
                            </a>
                        }


                        else
                        { <div class="d-inline-flex align-items-center">
                                <a class="text-primary px-3" href="https://www.facebook.com/Banana-Airlines-109535575252958">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="text-primary px-3" href="">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="text-primary px-3" href="">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a class="text-primary px-3" href="">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a class="text-primary px-3" href="">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                            <a href="~/Login/Login" class="btn btn-primary mt-2 ">
                                Đăng nhập / Đăng ký
                            </a>
                        }

                    </div>

                </div>
            </div>
        </div>
        <!-- Topbar End -->
        <!-- Navbar Start -->
        <div class="container-fluid position-relative nav-bar p-0">
            <div class="container-lg position-relative p-0 px-lg-3" style="z-index: 9;">
                <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-lg py-3 py-lg-0 pl-3 pl-lg-5">
                    <a href="~/User/Index" class="navbar-brand pl-2">
                        <h1 class="m-0 text-primary"><span class="text-dark">BANANA</span> AIRLINES <img class="img-fluid w-10  bg-white " src="/Content/anh/logo2.jpg" alt=""></h1>

                    </a>

                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between px-0" id="navbarCollapse">
                        <div class="navbar-nav ml-auto py-0">
                            <a href="~/User/Gioithieu" class="nav-item nav-link strong ">Giới Thiệu</a>
                            <a href="~/User/LienHe" class="nav-item nav-link strong">Liên Hệ</a>
                            <a href="~/User/KM" class="nav-item nav-link strong">KM</a>
                            <div class="nav-item dropdown ">
                                <a href="#" class="nav-link dropdown-toggle strong" data-toggle="dropdown">Khác</a>
                                <div class="dropdown-menu ">
                                    <a href="~/User/Diemdenyeuthich" class="dropdown-item ">Điểm đến yêu thích</a>
                                    <a href="~/User/CamNangDL" class="dropdown-item">Cẩm nang du lịch</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <!-- Navbar End -->
        <!-- END HEADER -->
        <!-- Workflow @@==-->

        @*<div class="container typeword">
            <div class="my-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb rounded-0 px-0 py-2">
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="./main.html"
                               class="text-truncate text-info fondsize"
                               title="@ViewBag.Title1">@ViewBag.Title1</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="./gioithieu.html"
                               class="cam-color fondsize"
                               title="@ViewBag.Title2">@ViewBag.Title2</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>*@
      
        <!--BODY-->
        <div>
            @RenderBody()
        </div>
        <!--FOOTER-->
        <!-- SUBCRIBE -->
        <div class="bgw">
            <div id="footer" class="clearfix j30-footer">
                <div class="clearfix " id="footers">
                    <div class=" ">
                        <div class="clear"></div>
                        <!-- 4 icon -->
                        <div class="row hidden-xs">
                            <div class="col-md-10 col-md-offset-1 " style="margin:0px auto;">
                                <div class="row" style="text-align: center;font-size: 14px;">
                                    <!-- Dễ dàng tìm chuyến bay -->
                                    <div class="col-xs-3">
                                        <p class="box-icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 32 32">
                                                <title>home-solgan-search</title>
                                                <path fill="#5a5954" d="M20.976 0c-6.079 0-11.024 4.945-11.024 11.024 0 2.501 0.838 4.81 2.247 6.661l-2.233 2.233c-0.014 0.014-0.027 0.029-0.039 0.044-0.183-0.038-0.37-0.058-0.561-0.058-0.729 0-1.415 0.284-1.931 0.8l-6.635 6.635c-0.516 0.516-0.799 1.201-0.799 1.93s0.284 1.415 0.799 1.93c0.516 0.516 1.201 0.8 1.931 0.8s1.415-0.284 1.93-0.8l6.635-6.635c0.516-0.516 0.799-1.201 0.799-1.93 0-0.191-0.020-0.379-0.058-0.562 0.016-0.012 0.030-0.025 0.044-0.039l2.233-2.233c1.852 1.409 4.161 2.246 6.662 2.246 6.078 0 11.024-4.945 11.024-11.024s-4.945-11.024-11.023-11.024v0zM3.927 30.467c-0.32 0.32-0.745 0.496-1.197 0.496s-0.877-0.176-1.198-0.496c-0.32-0.32-0.496-0.745-0.496-1.197s0.176-0.877 0.496-1.197l5.992-5.992 2.394 2.394-5.992 5.992zM10.649 23.738l-2.387-2.386c0.316-0.272 0.709-0.41 1.103-0.41 0.434 0 0.867 0.165 1.197 0.495 0.32 0.32 0.496 0.745 0.496 1.197 0 0.41-0.145 0.797-0.409 1.104v0zM11.592 21.057c-0.089-0.124-0.187-0.242-0.297-0.352s-0.228-0.209-0.352-0.297l1.924-1.924c0.207 0.225 0.424 0.442 0.649 0.649l-1.924 1.923zM20.976 21.011c-5.507 0-9.987-4.48-9.987-9.987s4.48-9.987 9.987-9.987 9.987 4.48 9.987 9.987c0 5.507-4.481 9.987-9.987 9.987v0z"></path>
                                                <path fill="#4469b0" d="M20.976 2.212c-4.859 0-8.812 3.953-8.812 8.812s3.953 8.812 8.812 8.812 8.812-3.953 8.812-8.812c-0-4.859-3.953-8.812-8.812-8.812v0zM20.976 18.799c-4.287 0-7.775-3.488-7.775-7.775s3.488-7.775 7.775-7.775 7.775 3.488 7.775 7.776c0 4.287-3.488 7.775-7.775 7.775v0z"></path>
                                                <path fill="#5a5954" d="M22.176 4.532c-0.393-0.072-0.796-0.109-1.2-0.109-0.286 0-0.518 0.232-0.518 0.518s0.232 0.518 0.518 0.518c0.34 0 0.681 0.031 1.012 0.092 0.032 0.006 0.063 0.009 0.095 0.009 0.245 0 0.463-0.175 0.509-0.425 0.052-0.282-0.134-0.552-0.416-0.603v0z"></path>
                                                <path fill="#4469b0" d="M18.42 11.276c0.547 0.682 1.094 1.364 1.64 2.045 0.231 0.289 0.636 0.131 0.814-0.105 1.538-2.029 3.075-4.058 4.613-6.087 0.403-0.532-0.497-1.049-0.895-0.523-1.538 2.029-3.075 4.058-4.613 6.087 0.271-0.035 0.543-0.070 0.814-0.105-0.547-0.682-1.094-1.364-1.64-2.045-0.417-0.52-1.147 0.218-0.733 0.733v0z"></path>
                                            </svg>
                                        </p>
                                        <p class=""><b>Dễ dàng tìm chuyến bay</b></p>
                                        <p>Mọi lúc mọi nơi</p>
                                    </div>

                                    <!-- Thanh toán nhanh chóng -->
                                    <div class="col-xs-3">
                                        <p class="box-icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 32 32">
                                                <title>home-solgan-payment</title>
                                                <path fill="#5a5954" d="M28.8 4.267c0-0.588-0.479-1.067-1.067-1.067s-1.067 0.478-1.067 1.067c0 0.588 0.479 1.067 1.067 1.067s1.067-0.478 1.067-1.067v0z"></path>
                                                <path fill="#5a5954" d="M27.2 9.6c-0.294 0-0.534 0.239-0.534 0.534v19.2c0 0.883-0.717 1.6-1.6 1.6h-18.134c-0.882 0-1.6-0.717-1.6-1.6v-18.666h19.733c0.295 0 0.534-0.239 0.534-0.534s-0.238-0.534-0.534-0.534h-20.266c-0.294 0-0.534 0.239-0.534 0.534v19.2c0 1.47 1.197 2.667 2.667 2.667h18.134c1.471 0 2.667-1.197 2.667-2.667v-19.2c0-0.294-0.239-0.534-0.534-0.534v0z"></path>
                                                <path fill="#5a5954" d="M24 4.8c0.295 0 0.534-0.238 0.534-0.534s-0.238-0.533-0.534-0.533h-5.333c-0.294 0-0.534 0.239-0.534 0.533s0.239 0.534 0.534 0.534h5.333z"></path>
                                                <path fill="#4469b0" d="M28.8 12.266c0 0.295 0.239 0.534 0.533 0.534 0.295 0 0.534-0.238 0.534-0.534v-4.267c0-0.294-0.238-0.533-0.534-0.533h-26.666c-0.294 0-0.533 0.239-0.533 0.533v4.267c0 0.295 0.239 0.534 0.533 0.534 0.295 0 0.534-0.238 0.534-0.534v-3.733h25.6v3.733z"></path>
                                                <path fill="#4469b0" d="M10.5 11.754c-0.284-0.080-0.579 0.084-0.658 0.368-0.16 0.566-0.242 1.153-0.242 1.745 0 3.529 2.871 6.4 6.4 6.4s6.4-2.871 6.4-6.4c0-0.592-0.081-1.179-0.241-1.745-0.080-0.283-0.377-0.446-0.658-0.368-0.283 0.080-0.448 0.375-0.368 0.658 0.133 0.472 0.201 0.961 0.201 1.455 0 2.942-2.393 5.333-5.333 5.333s-5.333-2.392-5.333-5.333c0-0.494 0.068-0.983 0.201-1.455 0.080-0.284-0.084-0.579-0.368-0.659v0z"></path>
                                                <path fill="#5a5954" d="M29.333 0h-26.666c-1.47 0-2.667 1.197-2.667 2.667v11.733c0 1.47 1.197 2.667 2.667 2.667 0.295 0 0.534-0.238 0.534-0.533s-0.238-0.534-0.534-0.534c-0.882 0-1.6-0.717-1.6-1.6v-11.733c0-0.882 0.718-1.6 1.6-1.6h26.667c0.883 0 1.6 0.718 1.6 1.6v11.733c0 0.883-0.717 1.6-1.6 1.6-0.294 0-0.534 0.239-0.534 0.533 0 0.295 0.239 0.534 0.534 0.534 1.47 0 2.667-1.196 2.667-2.667v-11.733c0-1.47-1.197-2.667-2.667-2.667v0z"></path>
                                                <path fill="#5a5954" d="M6.933 11.733c-0.294 0-0.533 0.239-0.533 0.533v13.867c0 0.295 0.239 0.533 0.533 0.533 1.47 0 2.667 1.197 2.667 2.667 0 0.295 0.239 0.534 0.534 0.534h11.733c0.295 0 0.533-0.238 0.533-0.534 0-1.47 1.197-2.667 2.667-2.667 0.295 0 0.534-0.238 0.534-0.533v-13.867c0-0.294-0.238-0.533-0.534-0.533s-0.533 0.239-0.533 0.533v13.372c-1.633 0.235-2.927 1.529-3.162 3.162h-10.743c-0.234-1.633-1.529-2.927-3.162-3.162v-13.372c0-0.294-0.238-0.533-0.534-0.533v0z"></path>
                                                <path fill="#4469b0" d="M14.4 12.8c0.295 0 0.533-0.238 0.533-0.534s-0.238-0.533-0.533-0.533c-0.991 0-1.819 0.682-2.058 1.6h-0.076c-0.294 0-0.533 0.239-0.533 0.533 0 0.295 0.239 0.534 0.533 0.534h0.076c0.239 0.918 1.067 1.6 2.058 1.6 1.177 0 2.133-0.957 2.133-2.134 0-0.588 0.479-1.067 1.067-1.067s1.067 0.479 1.067 1.067c0 0.588-0.479 1.067-1.067 1.067-0.294 0-0.534 0.239-0.534 0.533 0 0.295 0.239 0.534 0.534 0.534 0.991 0 1.82-0.682 2.058-1.6h0.075c0.295 0 0.534-0.238 0.534-0.534 0-0.294-0.238-0.533-0.534-0.533h-0.075c-0.238-0.917-1.067-1.6-2.058-1.6-1.177 0-2.134 0.957-2.134 2.133 0 0.588-0.478 1.067-1.067 1.067s-1.067-0.479-1.067-1.067c0-0.588 0.479-1.067 1.067-1.067v0z"></path>
                                            </svg>

                                        </p>
                                        <p><b>Thanh toán nhanh chóng</b></p>
                                        <p>Tiện lợi và tin cậy</p>
                                    </div>

                                    <!-- Hỗ trợ đặt vé -->
                                    <div class="col-xs-3">
                                        <p class="box-icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="41" height="48" viewBox="0 0 26 32">
                                                <title>home-solgan-support</title>
                                                <path fill="#5a5954" d="M24.518 20.628l-0.006-0.005c-0.919-0.855-1.734-1.449-2.48-1.802 1.651-1.662 2.61-3.943 2.61-6.309 0-4.927-4.009-8.936-8.936-8.936-1.926 0-3.808 0.635-5.342 1.775-0.199-0.855-0.689-1.832-1.497-3.006-1.085-1.578-2.217-2.345-3.463-2.345-1.475 0-2.671 1.081-3.726 2.035-0.185 0.167-0.359 0.325-0.53 0.471-0.64 0.539-1.029 1.446-1.126 2.624-0.143 1.746 0.353 4.055 1.397 6.5 1.177 2.756 3.019 5.636 5.326 8.326 5.263 6.213 10.896 8.994 14.143 8.994 0.943 0 1.693-0.228 2.229-0.676l0.008-0.007c0.18-0.155 0.371-0.313 0.575-0.479 1.197-0.982 2.554-2.095 2.615-3.726 0.042-1.119-0.547-2.242-1.798-3.435zM10.255 6.939c1.456-1.451 3.455-2.281 5.513-2.281 4.304 0 7.806 3.502 7.806 7.806 0 2.34-1.074 4.587-2.885 6.059-0.021-0-0.042-0.001-0.062-0.001-1.251 0-2.138 0.752-3.065 1.564-0.002 0.002-0.004 0.003-0.006 0.005-0.020 0.018-0.040 0.035-0.060 0.053-0.102 0.089-0.206 0.18-0.314 0.273-0.055 0.048-0.132 0.097-0.286 0.097-0.567 0-2.030-0.599-5.461-4.605-1.448-1.703-2.442-3.061-3.040-4.152-0.593-1.081-0.768-1.885-0.471-2.153 0.086-0.071 0.172-0.141 0.257-0.211 0.894-0.731 1.741-1.425 2.074-2.454zM23.104 27.072c-0.213 0.175-0.415 0.34-0.611 0.509-0.296 0.245-0.785 0.375-1.415 0.375-2.918 0-8.374-2.734-13.462-8.74-2.278-2.655-4.090-5.485-5.242-8.184-0.985-2.308-1.457-4.445-1.327-6.019 0.068-0.83 0.309-1.458 0.68-1.768l0.007-0.005c0.188-0.161 0.373-0.33 0.571-0.508 0.308-0.279 0.63-0.57 0.961-0.833 0.362 0.398 0.934 1.063 1.541 1.91 0.132 0.184 0.338 0.282 0.549 0.282 0.136 0 0.273-0.041 0.392-0.126 0.302-0.217 0.372-0.638 0.155-0.941-0.563-0.786-1.093-1.419-1.477-1.853 0.264-0.111 0.529-0.176 0.792-0.176 0.787 0 1.608 0.612 2.437 1.819 1.102 1.602 1.546 2.774 1.357 3.582-0.167 0.716-0.836 1.262-1.681 1.955-0.089 0.073-0.179 0.146-0.27 0.221l-0.013 0.011c-0.866 0.753-0.81 2.039 0.168 3.823 0.642 1.172 1.688 2.603 3.196 4.379 2.966 3.465 5.027 5.078 6.486 5.078 0.445 0 0.849-0.148 1.169-0.426 0.006-0.005 0.012-0.010 0.018-0.015 0.345 0.214 0.863 0.544 1.4 0.92 0.445 0.312 0.829 0.604 1.14 0.866 0.126 0.107 0.281 0.159 0.434 0.159 0.192 0 0.382-0.081 0.516-0.24 0.24-0.285 0.204-0.71-0.081-0.95-0.343-0.289-0.758-0.605-1.236-0.94-0.396-0.278-0.78-0.53-1.098-0.733 0.492-0.381 0.952-0.634 1.468-0.634 0.815 0 1.875 0.617 3.241 1.886 0.971 0.925 1.45 1.763 1.422 2.49-0.040 1.064-1.131 1.959-2.186 2.825z"></path>
                                                <path fill="#4469b0" d="M7.039 6.44c0.112 0 0.225-0.028 0.33-0.086 0.325-0.182 0.44-0.593 0.257-0.918-0.106-0.189-0.211-0.356-0.33-0.525-0.215-0.304-0.635-0.377-0.939-0.162s-0.377 0.635-0.162 0.939c0.092 0.131 0.174 0.26 0.257 0.408 0.123 0.219 0.352 0.343 0.588 0.343z"></path>
                                                <path fill="#4469b0" d="M23.116 23.574c-0.26-0.265-0.685-0.269-0.951-0.010s-0.272 0.685-0.014 0.952c0.003 0.003 0.079 0.082 0.371 0.409 0.133 0.148 0.317 0.224 0.502 0.224 0.16 0 0.321-0.057 0.45-0.172 0.277-0.248 0.3-0.675 0.052-0.952-0.313-0.349-0.397-0.436-0.411-0.45z"></path>
                                                <path fill="#4469b0" d="M17.314 13.429h2.237v1.1c0 0.252 0.307 0.382 0.606 0.382 0.308 0 0.606-0.131 0.606-0.382v-1.1h0.438c0.195 0 0.382-0.28 0.382-0.559 0-0.289-0.131-0.568-0.382-0.568h-0.438v-0.979c0-0.27-0.298-0.382-0.606-0.382-0.298 0-0.606 0.112-0.606 0.382v0.979h-1.090l1.789-3.579c0.028-0.056 0.047-0.112 0.047-0.159 0-0.279-0.391-0.466-0.606-0.466-0.195 0-0.4 0.084-0.512 0.317l-2.209 4.342c-0.047 0.084-0.065 0.168-0.065 0.242 0 0.27 0.177 0.429 0.41 0.429z"></path>
                                                <path fill="#4469b0" d="M12.511 14.911h3.318c0.205 0 0.382-0.261 0.382-0.54s-0.177-0.522-0.382-0.522h-2.591v-0.223c0-0.969 2.954-1.622 2.954-3.634 0-1.184-1.006-1.892-2.088-1.892-1.034 0-2.003 0.652-2.003 1.715 0 0.503 0.233 0.652 0.55 0.652 0.401 0 0.633-0.223 0.633-0.447 0-0.578 0.373-0.82 0.83-0.82 0.615 0 0.867 0.447 0.867 0.83 0 1.314-3.001 2.106-3.001 3.597v0.904c0 0.232 0.317 0.381 0.531 0.381z"></path>
                                                <path fill="#4469b0" d="M19.899 30.652h-13.481c-0.372 0-0.674 0.302-0.674 0.674s0.302 0.674 0.674 0.674h13.481c0.372 0 0.674-0.302 0.674-0.674s-0.302-0.674-0.674-0.674z"></path>
                                            </svg>
                                        </p>
                                        <p><b>Hỗ trợ đặt vé máy bay 24/7</b></p>
                                        <p>Chăm sóc tận tình chu đáo</p>
                                    </div>

                                    <!-- Săn vé giá rẻ -->
                                    <div class="col-xs-3">
                                        <p class="box-icon">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="65" height="48" viewBox="0 0 43 32">
                                                <title>home-solgan-sale</title>
                                                <path fill="none" stroke="#4469b0" stroke-width="1.2633" stroke-miterlimit="10" stroke-linecap="butt" stroke-linejoin="miter" d="M28.174 2.703c4.154 0 7.954 4.073 7.954 9.15s-4.177 9.155-8.773 9.155"></path>
                                                <path fill="#4469b0" d="M21.437 22.131c-1.912 0-3.468 1.556-3.468 3.468s1.556 3.468 3.468 3.468c1.912 0 3.468-1.556 3.468-3.468s-1.556-3.468-3.468-3.468v0zM21.437 27.708c-1.163 0-2.109-0.946-2.109-2.109s0.947-2.109 2.109-2.109 2.109 0.946 2.109 2.109c0 1.163-0.946 2.109-2.109 2.109v0z"></path>
                                                <path fill="#5a5954" d="M25.181 20.876c-1.059-0.841-2.389-1.304-3.744-1.304s-2.686 0.463-3.745 1.304c-0.294 0.234-0.343 0.661-0.109 0.955s0.661 0.343 0.955 0.11c0.831-0.66 1.834-1.009 2.899-1.009s2.067 0.349 2.898 1.009c0.125 0.099 0.274 0.147 0.423 0.147 0.2 0 0.398-0.088 0.533-0.257 0.233-0.293 0.184-0.721-0.11-0.955v0z"></path>
                                                <path fill="#5a5954" d="M32.711 29.682c1.081 0 1.961-0.879 1.961-1.961s-0.88-1.961-1.961-1.961-1.961 0.879-1.961 1.961c0 1.081 0.88 1.961 1.961 1.961v0zM32.711 27.12c0.331 0 0.601 0.27 0.601 0.601s-0.27 0.601-0.601 0.601-0.601-0.27-0.601-0.601c0-0.332 0.27-0.601 0.601-0.601v0z"></path>
                                                <path fill="#4469b0" d="M42.548 22.096c-0.321-0.195-0.739-0.033-0.934 0.288l-0.889 1.522h-11.75c-0.168-2.023-1.019-3.642-2.303-4.856h1.201c0.376 0 0.68-0.231 0.68-0.607s-0.304-0.607-0.68-0.607h-3.153c-0.8-0.405-1.25-0.826-2.464-0.908v-3.316c0-0.376-0.434-0.68-0.809-0.68s-0.809 0.304-0.809 0.68v3.316c-0.809 0.083-1.684 0.504-2.484 0.908h-3.152c-0.375 0-0.68 0.231-0.68 0.607s0.305 0.607 0.68 0.607h1.201c-1.284 1.214-2.135 2.833-2.303 4.856h-11.749l-0.889-1.522c-0.195-0.321-0.613-0.453-0.934-0.258s-0.423 0.598-0.227 0.919l1.088 1.769c0.123 0.203 0.344 0.307 0.581 0.307h5.518c-0.576 0.809-0.925 1.562-0.925 2.517 0 2.131 1.734 3.871 3.865 3.871s3.864-1.743 3.864-3.873c0-0.955-0.349-1.705-0.925-2.514h0.736c0.345 4.047 3.593 6.889 7.537 6.889s7.192-2.842 7.537-6.889h0.736c-0.576 0.809-0.925 1.562-0.925 2.517 0 2.131 1.734 3.871 3.865 3.871s3.864-1.743 3.864-3.873c0-0.955-0.349-1.705-0.925-2.514h5.518c0.237 0 0.457-0.112 0.581-0.314l1.088-1.783c0.195-0.321 0.093-0.733-0.227-0.928zM10.14 30.695c-1.64 0-2.974-1.334-2.974-2.974s1.334-2.974 2.974-2.974c1.64 0 2.973 1.334 2.973 2.974s-1.333 2.974-2.973 2.974zM21.437 30.952c-3.577 0-6.486-2.91-6.486-6.487s2.91-6.486 6.486-6.486c3.577 0 6.486 2.91 6.486 6.486s-2.909 6.487-6.486 6.487zM35.684 27.721c0 1.639-1.334 2.974-2.974 2.974s-2.974-1.334-2.974-2.974c0-1.64 1.334-2.974 2.974-2.974s2.974 1.334 2.974 2.974z"></path>
                                                <path fill="#5a5954" d="M10.14 29.682c1.081 0 1.961-0.879 1.961-1.961s-0.88-1.961-1.961-1.961-1.961 0.879-1.961 1.961c0 1.081 0.88 1.961 1.961 1.961v0zM10.14 27.12c0.331 0 0.601 0.27 0.601 0.601s-0.27 0.601-0.601 0.601-0.601-0.27-0.601-0.601c0-0.332 0.27-0.601 0.601-0.601v0z"></path>
                                                <path fill="#4469b0" d="M34.319-0.031h-26.055v9.475h26.055c0 0 2.369-1.634 2.369-4.737s-2.369-4.737-2.369-4.737v0zM33.135 5.89c-0.654 0-1.184-0.53-1.184-1.184s0.53-1.184 1.184-1.184c0.654 0 1.184 0.53 1.184 1.184s-0.53 1.184-1.184 1.184v0z"></path>
                                                <path fill="#4469b0" d="M33.135 6.483c0.98 0 1.776-0.797 1.776-1.777s-0.797-1.776-1.776-1.776c-0.98 0-1.776 0.797-1.776 1.776s0.797 1.777 1.776 1.777v0zM33.135 4.114c0.326 0 0.592 0.266 0.592 0.592s-0.266 0.592-0.592 0.592c-0.326 0-0.592-0.266-0.592-0.592s0.265-0.592 0.592-0.592v0z"></path>
                                                <path fill="#fff" d="M12.705 8.259h0.592c1.143 0 2.073-0.93 2.073-2.073s-0.93-2.073-2.073-2.073h-0.592c-0.49 0-0.888-0.399-0.888-0.888s0.399-0.888 0.888-0.888h0.592c0.49 0 0.888 0.399 0.888 0.888v0.296h1.184v-0.296c0-1.143-0.93-2.073-2.073-2.073h-0.592c-1.143 0-2.073 0.93-2.073 2.073s0.93 2.073 2.073 2.073h0.592c0.49 0 0.888 0.399 0.888 0.888s-0.399 0.888-0.888 0.888h-0.592c-0.49 0-0.888-0.399-0.888-0.888v-0.296h-1.184v0.296c0 1.143 0.93 2.073 2.073 2.073v0z"></path>
                                                <path fill="#fff" d="M17.146 5.89h2.369v2.369h1.184v-4.737c0-1.307-1.062-2.369-2.369-2.369s-2.369 1.062-2.369 2.369v4.737h1.184v-2.369zM18.331 2.337c0.653 0 1.184 0.531 1.184 1.184v1.184h-2.369v-1.184c-0-0.654 0.531-1.184 1.184-1.184v0z"></path>
                                                <path fill="#fff" d="M25.437 7.075h-2.369v-5.922h-1.184v7.106h3.553v-1.184z"></path>
                                                <path fill="#fff" d="M30.174 7.075h-2.369v-1.777h2.369v-1.184h-2.369v-1.776h2.369v-1.184h-3.553v7.106h3.553v-1.184z"></path>
                                            </svg>
                                        </p>
                                        <p class="bold mt15"><b>Săn vé máy bay giá rẻ</b></p>
                                        <p>Khuyến mại quanh năm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <style>
                            .col-xs-3 {
                                float: left;
                                padding: 34px 0 30px;
                                width: 25%;
                            }
                        </style>
                        <div class="clear"></div>

                        <!-- Hotline -->
                        <!--<div class="sales-bar__wrapper sales-bar__wrapper--hotfares clearfix">
                            <h2 class="sales-bar__title" style="float: left;"> Banana Airlines - Hơn Cả Một Chuyến Bay ! </h2>
                            <div class=" " style="float: right;">Hotline: 08.4949.1166</div>
                        </div>-->

       
                        <div class="clear"></div>

                  
                    </div>
                </div>
            </div>
        </div>
        <!-- END SUBCRIBE -->

        <div id="customer-comment" class="container mb-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div style="background-color: lightgoldenrodyellow;">
                                <h5>Khách hàng nói về chúng tôi</h5>
                                <div class="comment d-flex">
                                    <img src="../Asset/img/MessagesIcon.png" alt="" class="img-fluid" style="height: 50px;">
                                    <div class="ml-2" style="font-size: 13px;font-style: italic;">
                                        <span>Dear Abay Mình mất chứng minh nhân dân,cung mất cả giấy tờ xe các loại,nay mình xin được giấy xác nhận của địa phương vậy có mua được ...</span><br>
                                        <p>Tạ Mạnh Dũng - 090742517X</p>
                                    </div>
                                </div>
                                <div class="comment d-flex">
                                    <img src="../Asset/img/MessagesIcon.png" alt="" class="img-fluid" style="height: 50px;">
                                    <div class="ml-2" style="font-size: 13px;font-style: italic;">
                                        <span>Đây là lần đầu tiên mình đặt vé máy bay trực tuyến qua Abay.vn. Đây là 1 hình thức đặt vé và thanh toán cực kỳ thuận tiện và nhanh chón ...</span><br>
                                        <p>Phạm Văn Đức - 097798289X</p>
                                    </div>
                                </div>
                                <div class="comment d-flex">
                                    <img src="../Asset/img/MessagesIcon.png" alt="" class="img-fluid" style="height: 50px;">
                                    <div class="ml-2" style="font-size: 13px;font-style: italic;">
                                        <span>Mình thường phải đi công tác Hà Nội - Sai Gòn nhiều, trước kia mua vé của một số đại lý giá cao hơn nhiều so với Abay, mua vé ở Abay ...</span><br>
                                        <p>Pham Van Dung - 090907496X</p>
                                    </div>
                                </div>
                                <div class="comment d-flex" style="padding-bottom: 10px;">
                                    <img src="../Asset/img/MessagesIcon.png" alt="" class="img-fluid" style="height: 50px;">
                                    <div class="ml-2" style="font-size: 13px;font-style: italic;">
                                        <span>Mình thường phải đi công tác Hà Nội - Sai Gòn nhiều, trước kia mua vé của một số đại lý giá cao hơn nhiều so với Abay, mua vé ở Abay ...</span><br>
                                        <p>Pham Van Dung - 090907496X</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div style="background-color: #e1e1e1;">
                                <h4>Câu hỏi thường gặp</h4>
                                <a href="" class="ml-2">Giá vé máy bay của trẻ em được tính như thế nào?</a><br>
                                <a href="" class="ml-2">Tôi bị mất chứng minh thư thì có được bay không ?</a><br>
                                <a href="" class="ml-2">Tôi có mang theo thịt tươi sống và hải sản theo hành lý lên máy bay?</a><br>
                                <a href="" class="ml-2">Khi đi máy bay tôi được mang theo bao nhiêu kg hành lý xách tay?</a><br>
                                <a href="" class="ml-2">Em bé bao nhiêu tuổi thì được đi máy bay? Và cần những giấy tờ gì?</a><br>
                                <a href="" class="ml-2">Làm thế nào để tôi tìm được vé máy bay giá rẻ nhất?</a><br>
                                <a href="" class="ml-2">Khi đi máy bay tôi có được mang theo rượu và nước mắm không?</a><br>
                                <a href="" class="ml-2"> Tôi cần có mặt ở sân bay trước bao nhiêu lâu để làm thủ tục bay?</a><br>
                                <a href="" class="ml-2"> Tôi cần có mặt ở sân bay trước bao nhiêu lâu để làm thủ tục bay?</a><br>
                                <a href="" class="ml-2"> Tôi cần có mặt ở sân bay trước bao nhiêu lâu để làm thủ tục bay?</a><br>
                                <a href="" class="ml-2"> Tôi cần có mặt ở sân bay trước bao nhiêu lâu để làm thủ tục bay?</a><br>
                                <a href="" class="ml-2"> Tôi cần có mặt ở sân bay trước bao nhiêu lâu để làm thủ tục bay?</a><br>
                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- FOOTER -->
        <!-- Footer start KHANG HUỲNH-->
        <section id="end-page">
            <div class="footer py-5 bg-dark">
                <div class="container">

                    <div class="row">
                        <div class="col-md-4">

                            <a href="#" class="navbar-brand">
                                <h2 class="m-0 text-primary"><span class="text-white">BANANA</span> AIRLINES  </h2>
                            </a>
                            <br> <br>
                            <p class="text-white">
                                Chúng tôi cam kết mang lại những trải nghiệm tuyệt vời đến các bạn.

                            </p>

                            <p class="text-white">
                                Xin trân trọng cám ơn sự đồng hành của Qúy khách!
                            </p>
                            <div class="d-flex justify-content-start mt-4">
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                                   style="width: 38px; height: 38px;" href="#"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                                   style="width: 38px; height: 38px;" href="#"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                                   style="width: 38px; height: 38px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                                   style="width: 38px; height: 38px;" href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>

                        <div class="ml-auto d-md-block d-none">


                            <span class="ti-search search-icon text-light"></span>
                        </div>




                        <div class="col-md-3">
                            <h4 class="text-white">Thông tin thêm</h4>
                            <nav class="nav flex-column my-3 footer-web-info">
                                <a style="color: #ffffff;"
                                   href="#"
                                   title="Điều khoản sử dụng">Điều khoản sử dụng</a>
                                <a style="color: #ffffff;"
                                   href="#"
                                   title="Chính sách bảo mật">Chính sách bảo mật</a>
                                <a style="color: #ffffff;"
                                   href="#"
                                   title="Hướng dẫn đặt vé">Hướng dẫn đặt vé</a>
                                <a style="color: #ffffff;"
                                   href="#"
                                   title="Hướng dẫn đặt vé">Hướng dẫn thanh toán</a>
                            </nav>
                        </div>

                        <div class="col-md-2">
                            <h4 class="text-white">Hỗ trợ</h4>
                            <nav class="nav flex-column my-3 footer-web-info">
                                <a style="color: #ffffff;"
                                   href="javascript:void 0"
                                   title="Phản hồi">Phản hồi</a>
                                <a style="color: #ffffff;"
                                   href="#"
                                   title="Câu hỏi thường gặp">Câu hỏi thường gặp</a>
                                <a style="color: #ffffff;"
                                   href="#"
                                   title="Tư vấn hỗ trợ đặt vé">Tư vấn hỗ trợ đặt vé</a>
                            </nav>
                        </div>
                        <div class="col-md-3">
                            <h4 class="text-white">Liên hệ với chúng tôi</h4>
                            <br>
                            <div class="d-flex">
                                <h4 class="fa fa-map-marker-alt text-primary"></h4>
                                <div class="pl-3">
                                    <h5 style="color: #D9a404;">Địa chỉ</h5>
                                    <p style="color: #ffffff;">236, Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <h4 class="fa fa-envelope text-primary"></h4>
                                <div class="pl-3">
                                    <h5 style="color: #D9a404;">Email</h5>
                                    <p style="color: #ffffff;">customer@banana_airline.com</p>
                                </div>
                            </div>
                            <div class="d-flex">
                                <h4 class="fa fa-phone-alt text-primary"></h4>
                                <div class="pl-3">
                                    <h5 style="color: #D9a404;">Hotline</h5>
                                    <p style="color: #ffffff;">+012 345 67890</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr color="white" align="right" size="5px">
                <div class="container-fluid p-0 " style="color: #20211F;">
                    <p class="text-center" style="color: #ffffff">
                        <a>Công ty TNHH BANANA AIRLINE</a> <br>
                        <a>Coppyright</a>&copy;<a class="text-primary font-weight-bold" href="#"> 2022 BANANA </a> <br>
                    </p>
                </div>
            </div>
        </section>
        <!-- Footer End -->
        <!-- Back to Top -->
        <a href="about.html" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
        <!-- END FOOTER -->
    </div>
    <!-- phan modal cua xem chi tiet -->
    <div class="modal fade" id="dialog1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">

                <div class="modal-header">
                    <!-- <h5 class="modal-title">Tiêu đề Hộp thoại</h5> -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <nav>
                        <div class="nav nav-tabs nav-fill">
                            <a href="#tab-step-1" class="nav-item nav-link active" data-toggle="tab">Chi tiết chuyến bay</a>
                            <a href="#tab-step-2" class="nav-item nav-link" data-toggle="tab">Chi tiết giá</a>

                        </div>


                    </nav>
                    <div class="tab-content">
                        <div class="tab-pane show fade active" id="tab-step-1">
                            <div class="hay">


                                <div class="detail_planet">
                                    <div class="band">
                                        <img src="../Asset/img/VNA_logo_notext.png" alt="">
                                        <p style="margin-bottom: 0px">VN261</p>
                                        <p>Airbus A321-100/200</p>
                                    </div>
                                    <div class="schedule">
                                        <div class="planet">
                                            <i class="fas fa-plane-departure"></i>
                                            <div style="border-left: 1px solid rgb(136, 136, 136); height: 70%;"></div>
                                            <i class="fas fa-plane-arrival"></i>

                                        </div>
                                        <div class="time_planet">
                                            <div class="go">
                                                <div class="time_sce">
                                                    <h6>23:05</h6>
                                                    <span>17/11/2020</span>
                                                </div>
                                                <div class="where">
                                                    <h6>Hà Nội (HAN)</h6>
                                                    <span>Nội Bài</span>
                                                </div>
                                            </div>
                                            <div class="sub_time">
                                                <p><i class="far fa-clock"></i>2h 5m</p>
                                            </div>
                                            <div class="back">
                                                <div class="time_sce">
                                                    <h6>01:10</h6>
                                                    <span>18/11/2020</span>
                                                </div>
                                                <div class="where">
                                                    <h6>Thành phố Hồ Chí Minh (SGN)</h6>
                                                    <span>Tân Sơn Nhất</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="more">
                                        <p><i class="fas fa-suitcase-rolling"></i> Hành lý xách tay 2 kiện (9kg/kiện). Hành lý ký gửi 32kg</p>
                                        <p><i class="fas fa-history"></i> Miễn phí đổi vé chỉ mất phí chênh lệch giá vé (nếu có)</p>
                                        <p class="return_money"><i class="fas fa-undo-alt"></i> Phí hoàn vé 300.000VND</p>
                                    </div>
                                </div>
                                <div class="detail_planet" style="border-bottom: unset;">
                                    <div class="band">
                                        <img src="../Asset/img/VNA_logo_notext.png" alt="">
                                        <p style="margin-bottom: 0px">VN261</p>
                                        <p>Airbus A321-100/200</p>
                                    </div>
                                    <div class="schedule">
                                        <div class="planet">
                                            <i class="fas fa-plane-departure"></i>
                                            <div style="border-left: 1px solid rgb(136, 136, 136); height: 70%;"></div>
                                            <i class="fas fa-plane-arrival"></i>

                                        </div>
                                        <div class="time_planet">
                                            <div class="go">
                                                <div class="time_sce">
                                                    <h6>23:05</h6>
                                                    <span>17/11/2020</span>
                                                </div>
                                                <div class="where">
                                                    <h6>Hà Nội (HAN)</h6>
                                                    <span>Nội Bài</span>
                                                </div>
                                            </div>
                                            <div class="sub_time">
                                                <p><i class="far fa-clock"></i>2h 5m</p>
                                            </div>
                                            <div class="back">
                                                <div class="time_sce">
                                                    <h6>01:10</h6>
                                                    <span>18/11/2020</span>
                                                </div>
                                                <div class="where">
                                                    <h6>Thành phố Hồ Chí Minh (SGN)</h6>
                                                    <span>Tân Sơn Nhất</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="more">
                                        <p><i class="fas fa-suitcase-rolling"></i> Hành lý xách tay 2 kiện (9kg/kiện). Hành lý ký gửi 32kg</p>
                                        <p><i class="fas fa-history"></i> Miễn phí đổi vé chỉ mất phí chênh lệch giá vé (nếu có)</p>
                                        <p class="return_money"><i class="fas fa-undo-alt"></i> Phí hoàn vé 300.000VND</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane show fade" id="tab-step-2">
                            <div class="detail_money">
                                <div class="detail_go">
                                    <h6>Giá chiều đi</h6>
                                    <div class="sub_detail">
                                        <p>Giá vé người lớn </p><span>2 x 4,509,000 đ</span>
                                    </div>
                                    <div class="sub_detail">
                                        <p>Giá vé trẻ em </p><span>1 x 4,509,000 đ</span>
                                    </div>
                                    <div class="sub_detail">
                                        <p>Thuế và phí </p><span>2,358,000 đ</span>
                                    </div>
                                    <div class="sub_detail">
                                        <p>Mua thêm hành lý </p><span>187,000 đ</span>
                                    </div>
                                    <div class="sub_detail">
                                        <p>Tổng giá chiều đi </p><span>15,885,000 đ</span>
                                    </div>
                                </div>
                                <!-- end detail_go    -->
                                <div class="detail_back">
                                    <h6>Giá chiều về</h6>
                                    <div class="sub_detail">
                                        <p>Giá vé người lớn </p><span>2 x 4,509,000 đ</span>
                                    </div>
                                    <div class="sub_detail">
                                        <p>Giá vé trẻ em </p><span>1 x 4,509,000 đ</span>
                                    </div>
                                    <div class="sub_detail">
                                        <p>Thuế và phí </p><span>2,358,000 đ</span>
                                    </div>
                                    <div class="sub_detail">
                                        <p>Mua thêm hành lý </p><span>187,000 đ</span>
                                    </div>
                                    <div class="sub_detail">
                                        <p>Tổng giá chiều về </p><span>15,885,000 đ</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end detail_money -->
                            <div class="all_money">

                                <div class="sub_detail">
                                    <p style="font-size: 14px">Bảo hiểm du lịch </p><span>3 x 36,000 đ</span>
                                </div>
                                <div class="sub_detail">
                                    <p style="font-size: 16px;font-weight: 600">Tổng tiền thanh toán</p><span style="font-size: 16px;color: #139029;font-weight: 600;">15,993,000 đ</span>
                                </div>
                                <p class="text-right" style="font-size: 12px;">Giá đã bao gồm thuế, phí & hóa đơn VAT</p>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <!--   <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                      <button type="button" class="btn btn-primary">Lưu lại</button> -->
                </div>

            </div>
        </div>
    </div>
    <!-- het modal cua xem chi tiet -->
    <style>

        .select-box {
            display: flex;
            width: 250px;
            flex-direction: column;
        }

            .select-box .options-container {
                background: #2db5df;
                color: #f5f6fa;
                max-height: 0;
                width: 100%;
                opacity: 0;
                transition: all 0.4s;
                border-radius: 8px;
                overflow: hidden;
                order: 1;
            }

        .selected {
            background: rgb(238, 233, 233);
            border-radius: 8px;
            margin-bottom: 8px;
            color: black;
            position: relative;
            order: 0;
        }

            .selected::after {
                content: "";
                background: url("img/arrow-down.svg");
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                height: 100%;
                width: 32px;
                right: 10px;
                top: 5px;
                transition: all 0.4s;
            }

        .select-box .options-container.active {
            max-height: 240px;
            opacity: 1;
            overflow-y: scroll;
        }

            .select-box .options-container.active + .selected::after {
                transform: rotateX(180deg);
                top: -6px;
            }

        .select-box .options-container::-webkit-scrollbar {
            width: 8px;
            background: #0d141f;
            border-radius: 0 8px 8px 0;
        }

        .select-box .options-container::-webkit-scrollbar-thumb {
            background: #525861;
            border-radius: 0 8px 8px 0;
        }

        .select-box .option,
        .selected {
            padding: 12px 24px;
            cursor: pointer;
        }

            .select-box .option:hover {
                background: #414b57;
            }

        .select-box label {
            cursor: pointer;
        }

        .select-box .option .radio {
            display: none;
        }
    </style>

    <script>
        const selected = document.querySelector(".selected");
        const optionsContainer = document.querySelector(".options-container");
        const optionsList = document.querySelectorAll(".option");
        selected.addEventListener("click", () => {
            optionsContainer.classList.toggle("active");
        });

        optionsList.forEach(o => {
            o.addEventListener("click", () => {
                selected.innerHTML = o.querySelector("label").innerHTML;
                optionsContainer.classList.remove("active");
            });
        });
    </script>
</body>
<style>
    #layout-1505891501864, #wrap-cart-button-1492688272087 {
        display: none;
    }
</style>

</html>

