
@{
     ViewBag.Title = "Index";
     Layout = "~/Areas/Admin/Views/Shared/AdminMaster.cshtml";
}

@using VietMaxWatches.Models
@model List<VietMaxWatches.Models.NguonTinTuc>

<link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
<h1 class="page-header">
     <a href="/Admin/QLTinTuc/ThemTin" class="btn btn-outline btn-primary">Thêm</a>
</h1>
<div class="dataTable_wrapper">
     <table class="table table-striped table-bordered table-hover" id="table">
          <thead>
               <tr>
                    <th>#</th>
                    <th>Tiêu đề </th>
                    <th>Nội dung</th>
                    <th>Ảnh</th>
                    <th>Ngày đăng</th>
                    <th>Người đăng</th>
                    <th>Sửa</th>
                    <th>Xóa</th>

               </tr>
          </thead>
          <tbody>

               @for (int i = 0; i < Model.Count; i++)
               {
                    
                    <tr class="even gradeA">
                         <td>@Model[i].MaNguonTin</td>
                         <td>@Model[i].TieuDe</td>
                         <td>@Model[i].NoiDung</td>
                         <td><img src="/@Model[i].Anh" style="width: 50px; height: 50px;" /></td>
                         <td>@Model[i].NgayTao</td>
                         <td>@Model[i].NguoiTao</td>
                         <td><a href="/Admin/QLTinTuc/SuaTin/@Model[i].MaNguonTin" class="btn btn-outline btn-primary">Sửa</a></td>
                         <td><a href="/Admin/QLTinTuc/XoaTin/@Model[i].MaNguonTin" class="btn btn-outline btn-primary">Xóa</a></td>
                    </tr>
                    
                    @*else
                    {
                         <tr class="odd gradeA">

                              <td>@Model[i].MaNguonTin</td>
                              <td>@Model[i].TieuDe</td>
                              <td><img src="/@Model[i].Anh" style="width: 50px; height: 50px;" /></td>
                              <td>@Model[i].MaNguonTin</td>
                              <td>@Model[i].MaNguonTin</td>
                              <td><a href="/QLTinTuc/SuaTin/@Model[i].MaNguonTin" class="btn btn-outline btn-primary">Sửa</a></td>
                              <td><a href="/QLTinTuc/XoaTin/@Model[i].MaNguonTin" class="btn btn-outline btn-primary">Xóa</a></td>

                         </tr>
                    }*@
               }
          </tbody>
     </table>
</div>





