
@{
     VietMaxWatches.Models.Entities shop = new VietMaxWatches.Models.Entities();
     var Model_1 = ViewBag.model;
}

@*@model List<VietMaxWatches.Models.DanhMucSanPham>*@

<!DOCTYPE html>
<html>
<head>
     <meta charset='utf-8'>
     <meta http-equiv='X-UA-Compatible' content='IE=edge'>
     <title>Shop ViệtMax: Best Watch of Asia</title>
     <meta name="description" content="Đồng hồ Việt Max" />
     <link rel="icon" href="IMG\icon.png" type="image/x-icon">

     <link href="~/CSS/media.css" rel="stylesheet" />
     <link href="~/CSS/style2.css" rel="stylesheet" />
     <link href="~/CSS/style3.css" rel="stylesheet" />
     <link href="~/CSS/logo_giohang.css" rel="stylesheet" />


     @*<link rel='stylesheet' type='text/css' href='~/CSS/jquery.carousel-3d.default.css'>*@

     @*<link rel='stylesheet' type='text/css' href='~/CSS/main.css'>*@
     @*<link rel='stylesheet' type='text/css' href='~/CSS/chi-tiet-dong-ho.css'>
          <link rel='stylesheet' type='text/css' href='~/CSS/lien-he.css'>
          <link rel='stylesheet' type='text/css' href='~/CSS/DanhMuc.css'>*@

     <script type="text/javascript" src='~/JS/social.js'></script>
     <script type="text/javascript" src='~/JS/jquery-ui.min.js'></script>
     <script type="text/javascript" src='~/JS/jquery.min.js'></script>
     <script type="text/javascript" src='~/JS/jquery.jcarousel-swipe.min.js'></script>
     <script type="text/javascript" src='~/JS/jcarousel.js'></script>
     <script type="text/javascript" src='~/JS/jcarousel.brands.js'></script>
     <script type="text/javascript" src='~/JS/jquery/carousel-3d.js'></script>
     <script type="text/javascript" src='~/JS/jquery.resize.js'></script>
     <script type="text/javascript" src='~/JS/jquery.waitforimages.js'></script>
     <script type="text/javascript" src='~/JS/modernizr.js'></script>
     <script type="text/javascript" src='~/JS/jquery.emojiRatings.min.js'></script>
     <script type="text/javascript" src='~/JS/product.js'></script>
</head>
<body class="homepage  cms-index-index cms-home home catalog-category-view brands-area categorypath-brands brand-area categorypath-brands-cartier-watches category-cartier-watches">
     <!-- =====top:address + hotline===== -->
     <div class="topbar-outer-container" id="upper-edge">
          <div class="container" style="height: 60px;">
               <div class="topbar" style="display: flex;">
                    <!-- Gio hang -->
                    <div class="col-md-3">
                         @Html.Partial("GioHang")

                    </div>

                    <!-- =====address===== -->
                    <a class="icon-showrooms first" href="/Home/LienHe">
                         <img src="/IMG/icon-showrooms-yellow.png" alt="icon-map">
                    </a>
                    <span class="cus-care" style="padding-left: 10px;padding-top: 3px;">236 Hoàng Quốc Việt, Bắc Từ Liêm, Hà Nội</span>

                    <!-- =====hotline===== -->
                    <span class="head-hotline" style="padding-left: 30px;padding-top: 5px;">Gọi ngay: 035.746.1234</span>



                    <!-- =====tim kiem===== -->
                    @*<div class="pull-right ">
               <div class="search-box-outer">
                    <div class="search-box">
                         <div class="search-box-inner">
                              <input type="text" placeholder="Tìm kiếm..." class="input-text-search">
                              <img src="/IMG/search-icon-gray.png" alt="search-icon">
                         </div>
                    </div>
               </div>
          </div>*@
                    <div class="search-bar" style="display:flex;">
                         <form action="/Home/TimKiem" method="GET" style="display:flex;">
                              <div class="pos_search" style="display: flex;">
                                   <input style="margin-bottom: 0px;" type="text" name="search" value="Tìm kiếm" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Tìm kiếm';}">
                                   <input style="padding:13px" class="pos_submit" type="submit" value="">
                               </div>
                         </form>
                    </div>



               </div>
          </div>
     </div>

     <!-- =====logo + menu===== -->
     <div class="header-outer-container">
          <div class="container">
               <header role="banner">
                    <!-- =====logo====== -->
                    <div class="main-logo">
                         <div class="logo-holder">
                              <a href="/Home/Index">
                                   <img alt="Đồng hồ ViệtMax" class="img-logo" src="/IMG/adad.png">
                              </a>
                         </div>
                    </div>
                    <!-- ======menu link===== -->
                    <div class="links">
                         <!-- =====Thương Hiệu===== -->
                         <div class="link">
                              <h2>
                                   <a class="active" href="/Home/DanhSachThuongHieu">THƯƠNG HIỆU</a>
                              </h2>
                              <h2>
                                   <a class="normal" href="/Home/DanhSachThuongHieu">THƯƠNG HIỆU</a>
                              </h2>
                         </div>
                         @foreach (var item in Model_1)
                         {
                              //var dsDanhMuc = shop.DanhMucSanPham.Where(s => s.MaDanhMuc == item.MaDanhMuc).;
                              <div class="link">
                                   <h2>
                                        <a class="active" href="/Home/DanhMucDongHo/@item.MaDanhMuc">@item.TenDanhMuc</a>
                                   </h2>
                                   <h2>
                                        <a class="normal" href="/Home/DanhMucDongHo/@item.MaDanhMuc">@item.TenDanhMuc</a>
                                   </h2>
                              </div>
                         }

                    </div>
               </header>
          </div>
     </div>
     <div class="container body-content">
          @RenderBody()
          <hr />
          <!-- =====footer===== -->
          <div id="footer">
               <div class="managed-content footer_content">
                    <span>
                         <strong>CÔNG TY CỔ PHẦN XNK VIỆT MAX</strong>
                         <br>Địa chỉ: 236 Hoàng Quốc Việt, Phường Cổ Nhuế 1, Bắc Từ Liêm, Hà Nội - Điện thoại: 078 748 9999 | 035 777 4444  - MST: 0312756049
                    </span>
                    <br>
                    <div class="stotop">
                         <a href="#top"><img class="back-to-top" src="/IMG/backtotop.png" alt="top"></a>
                    </div>
               </div>
          </div>

          <!-- =====messager===== -->
          <div class="message"></div>
     </div>

     @Scripts.Render("~/bundles/jquery")
     @Scripts.Render("~/bundles/bootstrap")
     @RenderSection("scripts", required: false)
</body>
</html>
